body{

    margin-bottom: 80px;
    margin-top: 80px;
}

.text-justify-md {
        text-align: justify;
    }
.topset{
    width:100%;
    margin:0 auto;



}
.pimage{
height: 350px;

    background-image: url("../img/dive_trans.jpg");
}
.excite{

color:black;
text-emphasis-color: aqua
font-weight: bolder;

}
.jumbotron{

padding: 20px;
}
