body {
    margin-bottom: 80px;
    margin-top: 80px;
}
.text-justify-md {
    text-align: justify;
}
.topset {
    width: 100%;
    margin: 0 auto;
}
.pimage {
    height: 350px;
    background-image: url("../img/dive_trans.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.excite {
    color: #333;
    text-emphasis-color: aqua font-weight: bolder;
    font-size: 4em;
    margin-left: 20px;
    margin-right: 20px;
    word-wrap: break-word;
}
.jumbotron {
    padding: 20px;
}
.active {
    background-color: #333;
}
